@font-face {
  font-family: "Mulish", sans-serif;
  src: url('../assets/fonts/Mulish-Light.ttf') format('ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Mulish", sans-serif;
  src: url('../assets/fonts/Mulish-Regular.ttf') format('ttf');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Mulish", sans-serif;
  src: url('../assets/fonts/Mulish-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Mulish", sans-serif;
  src: url('../assets/fonts/Mulish-Bold.ttf') format('ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Mulish", sans-serif;
  src: url('../assets/fonts/Mulish-ExtraBold.ttf') format('ttf');
  font-weight: 800;
  font-display: swap;
}